<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <extensions>
    <add assembly="Gelf4NLog.Target" />
  </extensions>
  <variable name="defaultLayout" value="${date:HH\:mm\:ss.fff} ${threadid} ${level:upperCase=true} ${ndc} ${callsite} - ${message} ${onexception:${exception:format=tostring} | ${stacktrace}}" />
  <targets async="true">
    <target name="file" xsi:type="File" fileName="E:\logs\log.txt" layout="${defaultLayout}" />
    <target name="graylog" xsi:type="graylog" hostip="52.62.99.218" facility="Test" hostport="12201" layout="${defaultLayout}" />
  </targets>
  <rules>
    <logger name="*" writeTo="file" minlevel="Debug" />
    <logger name="*" writeTo="graylog" minlevel="Debug" final="true" />
  </rules>
</nlog>